<div class="photo-page">

  <img
  class="photo-page_image"
  src="/assets/img/photos/painting_1.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

<img
  class="photo-page_image"
  src="/assets/img/photos/painting_2.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

<img
class="photo-page_image"
src="/assets/img/photos/painting_3.jpg"
alt="{{ page.splash_img_caption | strip_html }}"
/>


<div class="photo_divider"></div>


  <img
    class="photo-page_image"
    src="/assets/img/photos/nature_1.jpg"
    alt="{{ page.splash_img_caption | strip_html }}"
  />

  <img
  class="photo-page_image"
  src="/assets/img/photos/nature_5.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

    <img
      class="photo-page_image"
      src="/assets/img/photos/nature_2.jpg"
      alt="{{ page.splash_img_caption | strip_html }}"
    />

    <img
      class="photo-page_image"
      src="/assets/img/photos/nature_3.jpg"
      alt="{{ page.splash_img_caption | strip_html }}"
    />


<div class="photo_divider"></div>


  <img
  class="photo-page_image"
  src="/assets/img/photos/001.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

<img
class="photo-page_image"
src="/assets/img/photos/002.jpg"
alt="{{ page.splash_img_caption | strip_html }}"
/>


<div class="photo_divider"></div>

  <img
  class="photo-page_image"
  src="/assets/img/photos/pass-by.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

<div class="photo_divider"></div>

  <img
  class="photo-page_image"
  src="/assets/img/photos/gloomy-eiffle.jpg"
  alt="{{ page.splash_img_caption | strip_html }}"
/>

<a href="#" style="width:110px" onclick="animationToTop(event)" class="scroll-top">Scroll to top</a>



  </div>
</div>
